body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.3s;
  background: white;
  color: black;
}

.container {
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* DARK MODE */
body.dark {
  background: #121212;
  color: white;
}

body.dark button {
  background: white;
  color: black;
}